.Profile{
  border: 1px solid red;
  width: 100%;
  font-size: 16pt;
  padding: 1em;
}

.Profile h2{
  text-align: center;
}


.Data{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.nick{
  font-weight: bold;
}

.changeProfilePic{
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
}