:root{
  --grey: #474242;
  --light-grey: #908a8a;
  --white: #f6efef;
  --red: #881414;
  --green: #3ee24b;
  --light-blue: #2ebddd6c;
  --blue: #1b48c4ce;

  --header-background-color: var(--grey);
  --href-color: var(--white);
  --button-like-background-color: var(--blue);
  --load-circle-color: var(--blue);
  --drop-down-color: var(--light-grey);
  --border-color: var(--light-grey);
  --background: var(--light-blue);
}

.App-header{
  background-color: var(--header-background-color);
  font-size: 16pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-header > nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-header > nav > *{
  margin-inline: 10px;
  height: 100%;
}

.header_href_deco{
  color: var(--href-color);
  text-decoration: none;
}

main{
  position: relative;
  border: 0.1em solid var(--dark);
  width: 90%;
  height: max-content;
  margin-top: 1em;
  margin-left: 5%;
  padding: 1em;
  font-size: 16pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_like{
  padding: 0.2em;
  background-color: var(--button-like-background-color);
  color: var(--href-color);
  border-radius: 0.3vw;
}

.button_like:hover{
  background-color: var(--light-blue);
}